A.advancedsearch { font-family: arial, helvetica, sans-serif; font-size: 9 }
A.path { font-family: arial, helvetica, sans-serif; font-size: 11px; line-height: .8; color: #666699 }
.path { font-family: arial, helvetica, sans-serif; font-size: 11px; line-height: .8; color: #666699 }
.announce { font-family: arial, helvetica, sans-serif; font-size: 11px }
.body { font-family: arial; font-size: 12px }
.welcome { color: #CC6600; font-size: 16px; font-family: arial }
.title { color: #CC6600; font-size: 20px; font-family: arial }
A.menu:link { color: #FFFFFF; text-decoration: none; font-family: arial; font-size: 11.5px; line-height: 1.4 }
A.menu:visited { color: #FFFFFF; text-decoration: none; font-family: arial; font-size: 11.5px; line-height: 1.4 }
A.menu:hover { color: #cc9966; text-decoration: underline; font-family: arial, helvetica, sans-serif; font-size: 11.5px; line-height: 1.4 }
A.announce:link { color: #FFFFFF; text-decoration: none; font-family: arial; font-size: 11.5px; line-height: 1.4 }
A.announce:visited { color: #FFFFFF; text-decoration: none; font-family: arial; font-size: 11.5px; line-height: 1.4 }
A.announce:hover { color: #FFFFFF; text-decoration: none; font-family: arial; font-size: 11.5px; line-height: 1.4 }
.homeheader { font-family: Arial, helvetica, sans-serif; font-size: 14px; color: #CC6600; font-weight: bold }
TD { font-family: arial; font-size: 12px }
TR { font-family: arial; font-size: 12px }
UL { font-family: arial; font-size: 12px }
LI { font-family: arial; font-size: 12px }

TABLE.nicList { font-family: arial; font-size: 12px;  }
TR.briefCitRow { font-family: arial; font-size: 12px; }

TABLE.browseScreen { font-family: arial; font-size: 12px; }

TABLE.browseWidgit { font-family: arial; font-size: 12px; }
TD.browseWidgit { font-family: arial; font-size: 12px;  }

TABLE.browseSaveJump { font-family: arial; font-size: 12px; }
TD.browseSaveJump { font-family: arial; font-size: 12px; }

TABLE.browseList { font-family: arial; font-size: 12px; }
TABLE.browseList TD { font-family: arial; font-size: 12px; }
TR.browseHeader { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseHeaderNum { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseHeaderMark { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseHeaderData { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseHeaderMedia { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseHeaderYear { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseHeaderEntries { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseHeaderRelevance { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }

TR.browseSuperEntry { font-family: arial; font-size: 12px; }

TR.browseEntry { font-family: arial; font-size: 12px; }
TD.browseEntryNum { font-family: arial; font-size: 12px; font-weight: bold; padding: 7 }
TD.browseEntryMark { font-family: arial; font-size: 12px; padding: 7 }
TD.browseEntryData { font-family: arial; font-size: 12px; padding: 7 }
TD.browseEntryMedia { font-family: arial; font-size: 12px; padding: 7 }
TD.browseEntryYear { font-family: arial; font-size: 12px; padding: 7 }
TD.browseEntryEntries { font-family: arial; font-size: 12px; padding: 7 }
TD.browseEntryRelevance { font-family: arial; font-size: 12px; padding: 7 }

TR.browseSubEntry { font-family: arial; font-size: 12px; }
TD.browseSubEntryData { font-family: arial; font-size: 12px; padding: 7 }
TD.browseSubEntryMedia { font-family: arial; font-size: 12px; padding: 7 }
TD.browseSubEntryYear { font-family: arial; font-size: 12px; padding: 7 }
TD.browseSubEntryEntries { font-family: arial; font-size: 12px; padding: 7 }
TD.browseSubEntryRelevance { font-family: arial; font-size: 12px; padding: 7 }

TABLE.browseResourceTable { font-family: arial; font-size: 12px; }
TD.browseResourceTable { font-family: arial; font-size: 12px; }

TR.browseResourceTableEntry { font-family: arial; font-size: 12px; }
TD.browseResourceTableEntry { font-family: arial; font-size: 12px; }

TR.browsePager { font-family: arial; font-size: 12px; }
TD.browsePager { font-family: arial; font-size: 12px; }

TABLE.bibScreen { font-family: arial; font-size: 12px }
TABLE.bibResourceTable { font-family: arial; font-size: 12px }

TABLE.patDisplay { font-family: arial; font-size: 12px }
TR.patDisplay { font-family: arial; font-size: 12px }
TD.patDisplayInfo { font-family: arial; font-size: 12px }
TD.patDisplayFunc { font-family: arial; font-size: 12px }
TABLE.patInfo { font-family: arial; font-size: 12px }
TR.patInfo { font-family: arial; font-size: 12px }
TD.patInfo { font-family: arial; font-size: 12px }
TD.patImage { font-family: arial; font-size: 12px }
TABLE.patFuncBtns { font-family: arial; font-size: 12px }
TR.patFuncBtns { font-family: arial; font-size: 12px }
TD.patFuncBtns { font-family: arial; font-size: 12px }

TR.yourEntryWouldBeHere { font-family: arial; font-size: 12px }
TD.yourEntryWouldBeHereData { font-family: arial; font-size: 12px; color: #CC3300}

TABLE.patFunc { font-family: arial; font-size: 12px }
TR.patFuncTitle { font-family: arial; font-size: 12px }
TH.patFuncTitle { font-family: arial; font-size: 12px }
TR.patFuncHeaders { font-family: arial; font-size: 12px }
TH.patFuncHeaders { font-family: arial; font-size: 12px }
TR.patFuncEntry { font-family: arial; font-size: 12px }
TD.patFuncMark { font-family: arial; font-size: 12px }
TD.patFuncTitle { font-family: arial; font-size: 12px }
TD.patFuncDate { font-family: arial; font-size: 12px }
TD.patFuncStatus { font-family: arial; font-size: 12px }
TD.patFuncPickup { font-family: arial; font-size: 12px }
TD.patFuncCallNo { font-family: arial; font-size: 12px }
TD.patFuncNoEntries { font-family: arial; font-size: 12px }
TD.patFuncCancel { font-family: arial; font-size: 12px }
TD.patFuncBookDate { font-family: arial; font-size: 12px }
TR.patFuncPSrchType { font-family: arial; font-size: 12px }
TD.patFuncPSrchType { font-family: arial; font-size: 12px }
TD.patFuncPSrchBtn { font-family: arial; font-size: 12px }
TR.patFuncFinesEntryTitle { font-family: arial; font-size: 12px }
TD.patFuncFinesEntryTitle { font-family: arial; font-size: 12px }
TR.patFuncFinesDetail { font-family: arial; font-size: 12px }
TD.patFuncFinesDetailType { font-family: arial; font-size: 12px }
TD.patFuncFinesDetailAmt { font-family: arial; font-size: 12px; color: #990000 }
TR.patFuncFinesDetailDate { font-family: arial; font-size: 12px }
TD.patFuncFinesDetailDateLabel { font-family: arial; font-size: 12px }
TD.patFuncFinesDetailDate { font-family: arial; font-size: 12px }
TR.patFuncFinesTotal { font-family: arial; font-size: 12px }
TD.patFuncFinesTotalLabel { font-family: arial; font-size: 12px }
TD.patFuncFinesTotalAmt { font-family: arial; font-size: 12px }

TABLE.patFuncModifyPIN { font-family: arial; font-size: 12px }
TR.patFuncModifyPIN { font-family: arial; font-size: 12px }
TD.patFuncModifyPIN { font-family: arial; font-size: 12px }
FONT.patFuncModifyPINExample { font-family: arial; font-size: 12px }

TABLE.patFuncModifyPatInfo { font-family: arial; font-size: 12px }
TR.patFuncModifyPatInfo { font-family: arial; font-size: 12px }
TD.patFuncModifyPatInfo { font-family: arial; font-size: 12px }

